
.text-bold { font-weight: bold; }
.text-bolder { font-weight: bolder; }
.text-italic { font-style: italic; ;}

.text-uppercase { text-transform: uppercase; }
.text-nowrap { white-space: nowrap; }
.text-justify { text-align: justify; }
.text-center { text-align: center }
.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// =======================================================

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}


// =======================================================
// Change BOOTSTRAP color BUTTONS to App's style guidelines
// =======================================================

// Do a 'btn-outline-secundary', but with our colors => you have to beat Bootstrap! ;-)
.btn-outline-secondary { border-color: $secondary; }
.btn-outline-secondary:disabled,
.btn-outline-secondary.disabled { opacity: 0.5; }
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled):hover {
    background-color: $secondary;
    border-color: $secondary;
}
.btn-outline-secondary.has-changed,
.btn-outline-secondary:not(:disabled):not(.disabled):focus {
    background-color: $secondary-transparent-50percent;
    color: $secondary;
    border-style: inset;
}

// And a 'btn-outline-danger', with our $primary:
.btn-outline-danger { border-color: $primary; color: $primary; }
.btn-outline-danger:disabled,
.btn-outline-danger.disabled { opacity: 0.5; }
.btn-outline-danger:not(:disabled):not(.disabled).active,
.btn-outline-danger:not(:disabled):not(.disabled):active,
.btn-outline-danger:not(:disabled):not(.disabled):hover {
    background-color: $primary;
    border-color: $primary;
    color: white;
}
.btn-outline-danger.has-changed,
.btn-outline-danger:not(:disabled):not(.disabled):focus {
    background-color: $primary-transparent-50percent;
    color: $primary;
    border-style: inset;
}

// =======================================================

.hidden { display: none; }