// ====================================
// CSS (runtime) & SCSS (to compile) vars:
// ====================================
:root {
    --body-main-bg-color: white;
    --body-color: #292828;

    --primary: hsl(345, 85%, 34%); // #a10d31;
    --secondary: hsl(39, 20%, 61%); // #B0A288;
    --secondary-lighter: #d2c5af;
}

$primary: #a10d31;
$primary-transparent-50percent: rgba(161, 13, 49, 0.5); // It's current '$primary' (#a10d31), with a '0.5' of opacity

$secondary: #B0A288;
$secondary-transparent-50percent: rgb(176, 162, 136, 0.5); // It's current '$secondary' (#B0A288), with a '0.5' of opacity
$secondary-lighter: #d2c5af;

$img-container-bg-color: #d9d9d9; // <= to match loading wheel's circle bg

$img-width-full: 18rem;
$img-height-full: 13.5rem;

$img-width-half: 15rem;
$img-height-half: 11rem;

$img-width-small: 11rem;
$img-height-small: 8rem;
