
<section class="products-container" *ngIf="(shopProducts$ | async)?.shopProducts as products">
    <div *ngFor="let product of products; index as i;" class="product-card">

        <div class="product-name text-bold text-uppercase text-center text-truncate" title="{{ product.name }}">{{ product.name }}</div>

        <div class="img-container framed-border outline-shadow light-centered">
            <img src="{{ product.photo }}">
        </div>

        <div class="buy-price-container">
            <button class="btn btn-sm btn-outline-danger text-uppercase" (click)="addToCart(product.id)">Buy!</button>
            <div class="price text-bold text-italic">{{ product.price }}</div>
        </div>

    </div>
</section>