@import '../../../../../assets/scss/variables';

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5rem;
    // Compensate each row LAST '.product-card' margin-right:
    padding-left: calc(3rem + 1rem);

    div.product-card {
        margin-right: 3rem;
        margin-bottom: 1rem;

        div.product-name {
            width: $img-width-full;
            height: 2rem;
            // line-height: 1rem;
            // margin-bottom: 0.5rem;
        }

        div.img-container {
            width: $img-width-full;
            height: $img-height-full;
            padding: 0.5rem;
            margin-bottom: 0.5rem;

            // Loading wheel:
            background-image: url('/assets/imgs/loading-wheel.gif');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 20%; // cover;
            background-color: $img-container-bg-color;

            display: flex;
            align-items: center;
            img { width: 100%; }
        }

        div.buy-price-container {
            display: flex;
            justify-content: space-between;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;

            div.price { padding-right: 0.2rem; }
        }
    }
}



@media(max-width: 850px) {
    section{
        div.product-card {
            div.product-name {
                width: $img-width-half;
            }
            div.img-container {
                width: $img-width-half;
                height: $img-height-half;
            }
        }
    }
}

@media(max-width: 700px) {

}

@media(max-width: 550px) {

}

@media(max-width: 370px) {
    section{
        div.product-card {
            div.product-name {
                width: $img-width-small;
            }
            div.img-container {
                width: $img-width-small;
                height: $img-height-small;
            }
        }
    }
}
