<main>

    <section *ngIf="inputtedCartContent?.cartProducts?.length === 0 || routedShoppingCart?.cartProducts?.length === 0" class="empty-shopping-cart-container">
        Your shoopping cart is empty!
    </section>



    <section *ngIf="inputtedCartContent?.cartProducts as inputtedProducts" class="shopping-cart-icon-dropdown-container">

        <div *ngFor="let cartItem of inputtedProducts; index as i;" class="shopping-cart-product-card"
            (mouseenter)="onMouseEnteringCartProductLine(cartItem)"
            (mouseleave)="onMouseLeavingCartProductLine()"
        >
            <div class="cart-line-id"><span class="text-bold text-nowrap">{{ cartItem.qty }}</span>x</div>

            <div class="cart-line-name text-truncate" title="{{ cartItem.name }}">{{ cartItem.name }}</div>

            <div class="cart-line-price">{{ cartItem.price | currency:'EUR':true:'2.2-2' }}</div>

            <div class="cart-line-horizontal-separator"> | </div>

            <div class="cart-line-option">{{ cartItem.color }}</div>
            <div class="cart-line-option">{{ cartItem.size }}</div>

            <div class="cart-line-horizontal-separator"> | </div>

            <div class="cart-line-price text-bolder">{{ (cartItem.qty * cartItem.price)  | currency:'EUR':true:'2.2-2' }}</div>
        </div>

        <ng-container *ngIf="inputtedCartContent?.nProducts > 0">
            <div class="cart-last-line-container">
                <div class="cart-total-items">
                    <span class="text-bold">{{ inputtedCartContent?.nProducts }}</span> <span class="text-bolder"> items</span>
                </div>
                <div class="cart-total-price text-bold">{{ inputtedCartContent?.nTotalCost  | currency:'EUR':true:'2.2-2' }}</div>    
            </div>
    
            <div class="button-container">
                <button class="btn btn-sm btn-outline-danger" (click)="navigateToShoppingCartPage()">Go to Shopping Cart</button>
            </div>    
        </ng-container>

        <div class="cart-line-image-container hidden">
            <img src="{{ hoveredProductPhoto }}">
        </div>

    </section>



    <section *ngIf="routedShoppingCart?.cartProducts as routedProducts" class="routed-shopping-cart-container">

        <div class="scrollable-area-container">
            <div *ngFor="let cartItem of routedProducts; index as i;" class="shopping-cart-product-card">
                <div class="text-nowrap">#{{ i+1 }}: REF-{{ cartItem.id }}</div>

                <div class="cart-line-name NOT-text-truncate" title="{{ cartItem.name }}">{{ cartItem.name }}</div>
                
                <div class="cart-line-price">{{ cartItem.price | currency:'EUR':true:'2.2-2' }}</div>

                <div class="cart-line-qty-container">
                    <div class="btn decrement-container">
                        <button class="btn btn-sm btn-outline-danger" (click)="decrementQty(cartItem.id)">-</button>
                    </div>
                    <div class="qty-number text-bolder">{{ cartItem.qty }}</div>
                    <div class="btn increment-container">
                        <button class="btn btn-sm btn-outline-danger" (click)="incrementQty(cartItem.id)">+</button>
                    </div>
                </div>

                <div>{{ cartItem.color }}</div>
                <div>{{ cartItem.size }}</div>

                <div class="cart-line-price text-bolder">{{ (cartItem.qty * cartItem.price)  | currency:'EUR':true:'2.2-2' }}</div>

            </div>
        </div>

        <ng-container *ngIf="routedShoppingCart?.nProducts > 0">
            <div class="cart-last-line-container">
                <div class="cart-total-items">
                    <span class="text-bold">{{ routedShoppingCart?.nProducts }}</span> <span class="text-bolder"> items</span>
                </div>
                <div class="cart-total-price text-bold">{{ routedShoppingCart?.nTotalCost  | currency:'EUR':true:'2.2-2' }} €</div>    
            </div>
        </ng-container>

        <div class="button-container">
            <button class="btn btn-sm btn-outline-secondary" (click)="navigateBackToProducts()">Back to Products Listing</button>
        </div>

    </section>

</main>

