@import '../../../../../assets/scss/variables';

main {

    cursor: default;

    section {
        padding: 1rem;
        position: relative;

        // &.empty-shopping-cart-container {}
        &.shopping-cart-icon-dropdown-container {
            div.button-container {
                text-align: right;
                margin-top: 1rem;
            }
        }
        &.routed-shopping-cart-container {
            padding-left: 10%;
            padding-right: 10%;

            div.scrollable-area-container {
                overflow-x: auto;

                div.shopping-cart-product-card {
                    // width: max-content;  // <= better only for small viewports...
                    justify-content: space-between;

                    border-top: 1px dashed $secondary;
                    margin-bottom: 1rem;
                    &:last-child { border-bottom: 1px dashed $secondary; padding-bottom: 1rem; }
    
                    div.cart-line-name { width: 45%; }
    
                    div.cart-line-qty-container {
                        display: flex;
                        align-items: center;
                        padding-right: 0;
                        .btn {
                            // padding-right: 0;
                            // padding: 0px 6px;
                            &.decrement-container { padding-right: 0; }
                            &.increment-container { padding-left: 0; }
                        }
                        .qty-number {
                            padding-right: 0.2rem;
                            padding-left: 0.2rem;
                            width: 1.2rem;
                            text-align: center;
                        }
                    }
                }
    
            }
        }

        div.shopping-cart-product-card {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center; // baseline;

            div { padding-right: 1rem; }

            div.cart-line-id { width: calc(100% - 9rem - 3rem - (13 * 1rem)); }

            div.cart-line-name { width: 9rem ;}

            div.cart-line-price { width: 6rem; text-align: right; font-size: small; }
        }

        div.cart-last-line-container {
            margin-top: 1rem;

            display: flex;
            justify-content: space-between;
            // div.cart-total-items { }
            div.cart-total-price { margin-right: 1rem; }
        }

        div.cart-line-image-container {
            position: absolute;
            top: 0;
            left: -12.5rem;
            background: $img-container-bg-color;

            width: $img-width-small;
            height: $img-height-small;
            padding: 0.5rem;

            display: flex;
            align-items: center;
            &.hidden { display: none; }
            img { width: 100%; }

        }
    }
}



@media(max-width: 850px) {
    main {
        section {
            &.routed-shopping-cart-container {
                padding-left: 5%;
                padding-right: 5%;
    
            }
        }
    }
}

@media(max-width: 700px) {
    main {
        section {
            &.routed-shopping-cart-container {
                padding-left: 1rem;
                padding-right: 1rem;
    
            }
        }
    }

}

@media(max-width: 550px) {
    main {
        section {
            &.routed-shopping-cart-container {
                div.scrollable-area-container {    
                    div.shopping-cart-product-card {
                        width: max-content;
                        div.cart-line-name { width: 9rem; }
                    }
                }
            }
        }
    }
}

@media(max-width: 370px) {
    main {
        section {
            div.shopping-cart-product-card {
                div.cart-line-option { display: none; }
                div.cart-line-option + div.cart-line-horizontal-separator { display: none; }
            }
        }
    }
}
