<div class="shopping-cart-icon-container framed-border outline-shadow"(mouseenter)="onMouseEnteringCartIcon()" (click)="navigateToShoppingCartPage()">
    <ng-container *ngIf="(shoppingCartState$ | async)?.nProducts as numberOfItems">
        <div class="shopping-cart-counter">{{ numberOfItems }}</div>
    </ng-container>
</div>

<div class="shopping-cart-content hidden" (mouseleave)="onMouseLeavingCartContent()">
    <app-shopping-cart [inputtedCartContent]="(shoppingCartState$ | async)"></app-shopping-cart>
</div>