@import '../../../../../../assets/scss/variables';

.shopping-cart-icon-container {
    cursor: pointer;

    position: absolute;

    top: 1.5rem;
    right: 2rem;

    width: 4rem;
    height: 3rem;

    background-image: url('/assets/imgs/shopping-cart-icon.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--body-main-bg-color); // <= to match loading wheel's circle bg // #cecece;

    .shopping-cart-counter {
        background: red; // $secondary; // $primary;
        color: white;    //$primary; // $secondary-lighter;

        position: absolute;
        top: 5px;
        left: 25px;
        border-radius: 100%;
        
        width: 20px;
        height: 20px;

        text-align: center;
        font-size: 12px;
        font-weight: 900;
    }
}

.shopping-cart-content {
    position: absolute;
    top: 0; right: 0;
    margin-top: 5.3rem;
    margin-right: 2rem;

    z-index: 1;

    width: 85vw;
    max-width: 30rem;
    height: auto;

    background: $secondary;
    opacity: 0.95;
    color: var(--body-main-bg-color);
}



@media(max-width: 850px) {

}

@media(max-width: 700px) {

}

@media(max-width: 550px) {

}

@media(max-width: 370px) {

}