@import '../assets/scss/variables';

header {
    // border-bottom: 1px solid $secondary;
    margin-bottom: 1rem;

}

footer {
    // Simulate some footer, with an img:
    // background-image: url('/src/assets/imgs/footer-content.png');
    // height: 5rem;
    //
    // Not so good, when coming to responsive adjusts...

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:var(--body-main-bg-color);

    padding: 1rem;

    // border-top: 1px solid $secondary;
    margin-top: 1rem;
}

.app-title {
    width: 100%;
    span.sub-title { display: none; }
}



@media(max-width: 850px) {

}

@media(max-width: 700px) {
    .app-title { width: calc(100% - 5rem); }
}

@media(max-width: 550px) {
    .app-title {
        span.title {
            span { display: none; }
        }
    }
}

@media(max-width: 370px) {
    .app-title {
        span.title { display: none; }
        span.sub-title { display: block; }
    }

}
