/* You can add global styles to this file, and also import other style files */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@import 'assets/scss/variables';
@import 'assets/scss/bootstrap-custom';
@import 'assets/scss/utilities';


html, body {
    height: 100vh;
    // height: 100%;
    overflow-x: hidden;
    // overflow-y: hidden; // BE CAREFUL! Though pretty handy - you'll NEVER EVER see a vertical scrollbar - could hide BAD calculations...

    font-family: "Lato", Calibri, Arial, sans-serif;
	font-weight: 300;

    line-height: 1.625;
    font-size: 100%;

    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;

    padding: 0;
    margin: 0;
}

body {
	background: var(--body-main-bg-color);
	color: var(--body-color);
}
